.enlace {		
  text-decoration: none;
  margin-right: 5%;
  font-family: Georgia, 'Times New Roman', Times, serif;
	position: relative;	
	padding: .4rem 1.2rem;
	color: rgb(5, 5, 5);
	text-transform: uppercase;
  -webkit-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
  -webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.enlace:before, .enlace:after {
	content: '';
	position: absolute;	
	-webkit-transition: inherit;	
	transition: inherit;
	z-index: -1;
}

.enlace:hover {
	color: rgb(216, 184, 1);	
	-webkit-transition-delay: .5s;
	        transition-delay: .5s;
}

.enlace:hover:before {
	-webkit-transition-delay: 0s;
	        transition-delay: 0s;
}

.enlace:hover:after {
	background: rgb(0,0,0);
	-webkit-transition-delay: .35s;
	        transition-delay: .35s;
}

/* From Left */

.enlace--animation-left:before, 
.enlace--animation-left:after {
	top: 0;
	width: 0;
	height: 100%;
}

.enlace--animation-left:before {
	right: 0;
	border: 1px solid rgb(0,0,0);
	border-left: 0;
	border-right: 0;	
}

.enlace--animation-left:after {
	left: 0;
}

.enlace--animation-left:hover:before,
.enlace--animation-left:hover:after {
	width: 100%;
}


.enlace--animation-left:before, .enlace--animation-left:after {
	box-sizing: border-box;
}

@media (max-width: 412px) {
  .enlace{
    font-size: 10px;
    margin-right: 10px;
  }
}