/* src/styles/Nav.css */

.nav {
  align-items: center;
  width: 100%;
  height: 4.3%;
  display: flex;
  position: fixed;
  z-index: 2; /* Asegura que la barra de navegación esté por encima de todo */
  transition: background-color 0.3s ease;
}

.nav__home {
  border: 2px solid rgb(216, 184, 1);
  justify-content: center;
  background-color: rgb(255, 255, 255, 0.5);
}

/* Efecto de Posicionamiento (hover) */
.enlace--animation-left {
  position: relative;
  text-decoration: none;
  color: black; /* Color de texto por defecto */
  transition: all 0.3s ease-in-out;
  padding: 0 10px;
}

.enlace--animation-left:hover {
  color: rgb(216, 184, 1); /* Cambia el color del texto */
  transform: scale(1.1); /* Efecto de crecimiento sutil */
}

.enlace--animation-left::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(216, 184, 1);
  transition: width 0.3s ease-in-out;
}

.enlace--animation-left:hover::before {
  width: 100%;
}